# Dependências
node_modules/

# Variáveis de ambiente
.env

# Sessões WhatsApp
.wwebjs_auth/
.wwebjs_cache/

# Arquivos de autenticação
.session/
.auth/

# Logs
*.log

# Arquivos temporários
.cache/

# QR Code
qrcode.txt